* text=auto

.editorconfig text eol=lf
.gitattributes text eol=lf
.gitignore text eol=lf
*.java text eol=lf
*.md text eol=lf
*.properties text eol=lf
*.ps1 text eol=lf
*.sh text eol=lf
*.xml text eol=lf
*.yml text eol=lf

*.jar binary
*.zip binary
